<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <property name="CONSOLE_LOG_PATTERN"
              value="%red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread])|-%highlight(%-5level) %boldMagenta(%logger{50})-%cyan(%msg%n)"/>

    <!--控制台打印格式-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                ${CONSOLE_LOG_PATTERN}
            </pattern>
        </layout>
    </appender>
    <root level="debug">
        <appender-ref ref="consoleLog"/>
    </root>
    <logger name="org.springframework.cloud.netflix.zuul.filters.pre.PreDecorationFilter" level="OFF" />
</configuration>